<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838233937267-a3kq9bo3npu3f1afv11a5qaen5901uu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838233937267-a3kq9bo3npu3f1afv11a5qaen5901uu7</string>
	<key>API_KEY</key>
	<string>AIzaSyDFFWOVQW3Qdteua-accJeutuGSXgjtaMc</string>
	<key>GCM_SENDER_ID</key>
	<string>838233937267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttertest</string>
	<key>PROJECT_ID</key>
	<string>fluttertest-1defc</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest-1defc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838233937267:ios:258f7d23908e8fffe1e106</string>
</dict>
</plist>